{% extends "base.html" %}

{% load static %}

{% load i18n %}


{% block title %}
Sign In
{% endblock title %}

{% block content %}
    <div class="album py-5 bg-light">
        {% include 'partials/_messages.html' %}
        <div class="container">

            <form method="post" class="form-signin">
                {% csrf_token %}
                
                <div class="mb-3">
                  <label for="id_username" class="form-label">Username</label>
                  {{ form.username }}
                </div>
                
                <div class="mb-3">
                  <label for="id_password" class="form-label">Password</label>
                  {{ form.password }}
                </div>
                
                <button type="submit" class="btn btn-primary w-100">Login</button>
              </form>
              

                {% comment %} <p class="mt-5 mb-3 text-muted text-center">or <a href="{% url 'account_reset_password' %}">Forgot Password?</a></p> {% endcomment %}

                <p class="mb-3 text-muted text-center">Don't have an account? <a href="{% url 'student-signup' %}"><strong>Sign up</strong></a></p>

            </form>

        </div>
    </div>

{% endblock %}
