{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
Sign Up | Vijay Thapa
{% endblock title %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            <form class="form-signin" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                
                <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up and Start Learning!</h1>
                <hr>

                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}


                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>


                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <a href="{% provider_login_url "google" process="login" %}" class="btn btn-lg btn-danger btn-block">Log in with Google</a>
                    <a href="{% provider_login_url "google" process="login" %}" class="btn btn-lg btn-dark btn-block">Log in with Github</a>
                {% endif %}

                
                    <p class="my-3 text-muted text-center"><small>By signing up, you agree to our Terms of Use and Privacy Policy.</small></p>
                    <hr>
                    <p class="mb-3 text-muted text-center">Already have an account? <a href="{% url 'account_login' %}"><strong>Log In</strong></a></p>
            </form>

           

        </div>
    </div>

{% endblock %}
