{% extends 'base.html' %}

{% block title %}
    {{ course.seo_course_title }}
{% endblock title %}


{% block content %}

{% include 'partials/_messages.html' %}

<div class="album py-5 bg-light">
    <div class="container">

        <h1 class="mb-5 display-4">{{ course.course_title }}</h1>

        {% if course.course_image %}
            <img src="{{ course.course_image.url }}" class="img-fluid">
        {% endif %}

        <div class="mt-5">
            
            {% if enrolled %}
            <a href="{% url 'lecture' course.course_slug %}" class="btn btn-primary btn-lg">Go to the Course</a>
            {% else %}
            <a href="{% url 'enroll' course.id %}" class="btn btn-danger btn-lg mr-3">Enroll Now</a>
            {% endif %}
   
        </div>

        <p class="mt-5 lead">
            {{ course.course_description }}
        </p>

        

        <div class="list-group">
            {% if lectures %}
                <h3 class="my-5">All Lectures</h3>
                {% for lecture in lectures %}
                    <a href="#" class="list-group-item list-group-item-action {% if lecture.lecture_previewable == "No" %}disabled{% endif %}">
                        {{ lecture.lecture_title }}  {% if lecture.lecture_previewable == "Yes" %}<small class="text-muted">[ Watch Preview ]</small>{% endif %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>

      
    </div>
  </div>
{% endblock content %}